body 
{
    overflow-x: hidden;
    margin: unset;
}
.logo-omf 
{
    height: 25px;
}
.logo-omf img 
{
    height: 100%;
    width: auto;
}

header
{
    position: relative;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow
{
    position: absolute;
    left: 20px;
    color: black;
    font-size: 20px;

}

.heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 15px 0px;
   
}


.heading h1 
{
    font-size: 24px;
}



main
{
    
    top: 245px;
    background-color: rgb(245, 245, 245);
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-bottom: 50px;
    animation: fadein 2s ease-in;

}

.coeur-titre
{
    display: flex;
    justify-content: space-between;
}

.coeur-display 
{
    padding-top: 8%;
    padding-right: 8%;
}



.restaurant-banner
{
    height: 230px;
    position: relative;
    margin-bottom: -30px;
}

.restaurant-banner img
{
    height: 230px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    position: absolute;
    z-index: -1;
}

.restaurant-menu
{
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;

}

h1
{
    position: relative;
    left: 20px;

}

.coeur
{
    position: absolute;
    left: 300px;
    top: 40px;
}

h1, .title-omf
{
    font-family: shrikhand;
}

footer a
{
   color: white;
    text-decoration: none;
    
}

a
{
    color: black;
}

footer
{
    background-color: rgb(85, 79, 79);
    color: white;
    padding: 15px 12px;
 

    
}

ul
{
    list-style-type: none;
    padding-left: unset;
    line-height: 25px;
}



h2
{
    border-bottom: #a1e4d3 solid;
    width: 60px;
    border-bottom-width: 3px;
    margin-left: 10px;
}



h3{
    margin: 0;
    padding-bottom: 5px;
 }

.bloc
{
background-color: white;
  border: none;
  display: flex;
  padding: 0;
  border-radius: 15px;
  height: 60px;
  width: 95%;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgb(177, 174, 174);
  animation: menu-appearance 600ms ease-in-out both;
  margin-bottom: 20px;
}


.menu-bloc 
{
    flex: 1;
    height: 100%;
    padding: 10px;
    overflow: hidden; 
}
.menu-bloc h3
{
    font-family: "roboto-regular", sans-serif;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 
.menu-bloc p
{
    margin: 0;
  font-family: "roboto-light", sans-serif;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
 margin: 0;
 

}


.detail-bloc 
{
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  
}

.detail-bloc p 
{
    margin: 0 0 10px 0;
  font-family: "roboto-regular", sans-serif;
  font-size: 16px;
}
.icon 
{
    padding-right: 10px;
}

.icon-anim
{
    margin-right: -60px;
    height: 100%;
    width: 60px;
    background-color: #99E2D0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.icon-anim i
{
    color: white;
    font-size: 20px;
    

}

.bloc:hover > .icon-anim {
    animation: bande 400ms ease-in-out forwards;
    animation-duration: 400ms;
  }
  
  
  .bloc:hover .icon-anim i {
    animation: item-rotation 400ms ease-in-out reverse forwards;
  }


.menudiv:hover > .icon-anim {
    animation: bande 400ms ease-in-out forwards;
}

.detail .icon-anim
{
    display: flex;
}
@keyframes item-rotation {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }



.icon-test .detail 
{
    display: flex;
}
@keyframes bande {
    from
     {margin-right: -60px}
     to 
     {margin-right: 0}
    
    }


.command
{
    text-align: center;
    background: linear-gradient(#FF79DA,#9356DC );
    color: white;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
   margin: auto;

}

.plats
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.restau-heart
{
  position: absolute;
  bottom: 25px;
  right: 15px;

}

.bouton-coeur
{
    position: relative;
    height: 20px;
    width: 20px;
  
}

.bouton-coeur-vide 
{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

.empty {
  font-size: 20px;
}

.bouton-coeur-vide:active
{
  animation: heart-disappearance 300ms forwards;
}

.bouton-coeur-rempli
{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  border: none;
  padding: 0;
  transform-origin: 50% 100%;
  transform:scale(0);
  background-color: transparent;
  
  
}

.bouton-coeur-vide:active + .bouton-coeur-rempli
{
  animation: heart-growth 300ms ease-in-out forwards;
}

.full {
  font-size: 20px;
  background :linear-gradient(#FF79DA, #9356DC) ;
  -webkit-background-clip: text ;
  color: transparent;

}

@keyframes heart-growth
{
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes heart-disappearance
{

  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}
@keyframes fadein 
{
    from 
    {opacity: 0;}
    to 
    { opacity: 1;}
}




@media screen and (min-width: 750px){
    .restaurant-menu
    {
        max-width: 750px;
        margin: auto;
    }

    .entrees, .plats, .desserts
    {
    margin: 0;
    padding: 0;
    
    }

    
    
    h2
    {
       text-align: center;
       
    }
    
  
    .choice
    {
       width: 100%;
    }
    
    main 
    {
        width: 50%;
        padding-left: 10px;
        margin: auto;
     
    
    }
    

    
    
    
    .command{
        display: block;
        margin: auto;
        margin-top: 95px;
    }
    
    footer {
        width: 100%;
        text-align: center;
      
    }

    footer ul {
        display: flex;
        justify-content: space-around;
    }
      }
    



