@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand-regular";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

.body-index
{
  animation: spinner-opacity 3s linear;
}
body {
  overflow-x: hidden;
  margin: 0;
 
}

.spinner
{
  width: 200px;
  height: 200px;
  position:absolute;
  margin: auto;
  left:0; right: 0; top: 0; bottom: 0;
  animation: spinner-opacity 3s forwards; 
}

.spinner div
{
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #99E2D0;
border-radius: 50%;
animation: spinnerOne 1.5s linear infinite;
}

.spinner div:nth-child(2)
{
  border: 10px solid transparent;
  border-bottom-color: #9356DC;
  animation: spinnerTwo 1.5s linear infinite;
}


* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

header {
  padding: 15px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 25px;
}

.logo img {
  height: 100%;
  width: auto;
}

.localisation {
  padding: 12px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
}
.localisation__icone {
  margin-right: 20px;
  font-size: 16px;
}
.localisation__titre {
  font-family: "roboto-regular", sans-serif;
  font-size: 14px;
}

.description {
  padding: 30px 0 40px 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.description h1 {
  font-family: "roboto-bold", sans-serif;
  font-size: 24px;
  width: 70%;
  text-align: center;
}
.description p {
  font-family: "roboto-light", sans-serif;
  font-size: 16px;
  width: 80%;
  margin: 15px 0 20px 0;
  text-align: center;
}

.description a {
  display: block;
  border-radius: 22px;
  text-decoration: none;
}

.main-button {
  color: white;
  border: none;
  padding: 15px 22px;
  border-radius: 22px;
  min-width: 170px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "roboto-regular", sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 8px #aaaaaa;
}

.main-button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 6px 8px #777777;
}

ul {
  list-style-type: none;
  padding: 20px;
}

.sub-title {
    line-height: 0px;
    margin-bottom: 40px;
    padding-left: 15px;
}

.nav_ul {
  background-color: #f3f2f2;
  padding: 28px;
  width: auto;
  border-radius: 20px;
  box-shadow: rgb(199, 196, 196) 3px 10px 10px;
  margin-bottom: 30px;
}

.nav_ul:hover
{
  background-color: #e0c7ff;
}

.icon-nav {
  color: rgb(175, 173, 173);
  padding-right: 20px;
}

.number {
  color: white;
  background-color: #9356DC;
  border-radius: 44%;
  padding: 2px 7px 2px 7px;
  position: relative;
  right: 30px;
}

#main-section {
  background-color: rgb(247 247 247);
  padding: 40px 15px; 
}

.restauration {
  margin-top: 10px;
  margin-bottom: 15px;
}

.box-restaurant {
  box-shadow: 0 4px 8px #b6b6b6;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 45px;
  position: relative;
}

.box-restaurant a {
  display: block;
  text-decoration: none;
  color: black;
}

.img_menu {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 15px 15px 0 0;
  vertical-align: middle;
}

.restau-new {
  position: absolute;
  color: #278870;
  background-color: #99e2d0;
  border-radius: 3px;
  padding: 5px 12px;
  top: 10px;
  right: 10px;

}

.restau-new p {
  color: #333333;
  margin: unset;
}

.restau_legende {
  height: 70px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restau_legende h3 {
  font-size: 14px;
  margin-bottom: 15px;
  font-family: "Roboto";
}

.restau_legende p {
	margin: 0;
	font-family: Roboto;
	font-size: 14px;
}

.restau-heart {
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.bouton-coeur {
  position: relative;
  height: 20px;
  width: 20px;

}

.bouton-coeur-vide {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

.empty {
  font-size: 20px;
}

.bouton-coeur-vide:active {
  animation: heart-disappearance 300ms forwards;
}

.bouton-coeur-rempli {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  border: none;
  padding: 0;
  transform-origin: 50% 100%;
  transform:scale(0);
  background-color: transparent; 
}

.bouton-coeur-vide:active + .bouton-coeur-rempli {
  animation: heart-growth 300ms ease-in-out forwards;
}

.full {
  font-size: 20px;
  background :linear-gradient(#FF79DA, #9356DC) ;
  -webkit-background-clip: text ;
  color: transparent;
}

.arrow {
  position: absolute;
  left: 20px;
  color: black;
  font-size: 20px;
}

.restaurant-banner {
  height: 230px;
  position: relative;
  margin-bottom: -30px;
}

.restaurant-banner img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  position: absolute;
  z-index: -1;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 15px 20px;
}

.heading h1 {
  font-size: 24px;
}

.menu-list {
  top: 245px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-bottom: 50px;
  animation: fadein 2s ease-in;
}

.coeur-titre {
  display: flex;
  justify-content: space-between;
}

.coeur-display {
  padding-top: 8%;
  padding-right: 8%;
}

.restaurant-menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
}

.restaurant-menu h1 {
  font-family: "shrikhand-regular", sans-serif;
  font-size: 24px;
}

.titre {
  font-family: "roboto-light", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 5px;
}

.title_underline {
    height: 3px;
    width: 50px;
    margin: 5px 0 15px 5px;
    background-color: #99E2D0;
}

.dlist {
  padding: 15px;
  margin-bottom: -15px;
  animation: menu-appearance 400ms ease-in-out both;
}

.list-fade-1 {
  animation-delay: 400ms;
}

.list-fade-2 {
  animation-delay: 600ms;
}

.list-fade-3 {
  animation-delay: 800ms;
}

.card-fade-1 {
  animation-delay: 900ms;
}

.card-fade-2 {
  animation-delay: 1100ms;
}

.card-fade-3 {
  animation-delay: 1300ms;
}

.card-fade-4 {
  animation-delay: 1500ms;
}

.bloc {
  background-color: white;
  border: none;
  display: flex;
  padding: 0;
  border-radius: 15px;
  height: 60px;
  width: 95%;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgb(177 174 174);
  margin-bottom: 20px;
}

.menu-bloc {
  flex: 1;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}

.menu-bloc h3 {
  font-family: "roboto-regular", sans-serif;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-bloc p {
  margin: 0;
  font-family: "roboto-light", sans-serif;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  margin: 0;
}

.detail-bloc {
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.icon-anim {
  margin-right: -60px;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-anim i {
  color: white;
  font-size: 20px;
}

.bloc:hover > .icon-anim {
  animation: bande 400ms ease-in-out forwards;
  animation-duration: 400ms;
}

.bloc:hover .icon-anim i {
  animation: item-rotation 400ms ease-in-out reverse forwards;
}

.menudiv:hover > .icon-anim {
  animation: bande 400ms ease-in-out forwards;
}

.detail .icon-anim {
  display: flex;
}

@keyframes menu-appearance {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes item-rotation {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.icon-test .detail {
  display: flex;
}

@keyframes bande {
  from
   {margin-right: -60px}
   to 
   {margin-right: 0} 
}

.restaurant__main-button {
    padding: 15px 0 40px 0;
    display: flex;
    justify-content: center;
}

.footer {
  padding: 15px 30px 30px 30px;
  background-color: #333333;
}
.footer__titre {
  font-family: "shrikhand-regular", sans-serif;
  color: white;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.footer__lien {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: "roboto-regular", sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.footer__lien i {
  margin-right: 10px;
}

.footer__lien p {
  margin: 0;
  padding: 0;
}

@keyframes heart-disappearance
{

  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }

}

@keyframes spinner-disappearance
{

}

@keyframes spinner-opacity
{
  from
  {
    visibility: visible;
    opacity: 0.9;
  }
  to 
  {
    visibility: hidden;
    opacity: 0.1;
  }
}

{
	from {
		opacity: 0.2;
	}

	to {
		opacity: 0.8;
	} 
}

@keyframes heart-growth
{
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spinnerOne
{
	0%{transform: rotate(0deg); border-width: 20px;}
	50%{transform: rotate(180deg); border-width: 2px;}
	100%{transform: rotate(360deg); border-width: 20px;}
}

@keyframes spinnerTwo
{
	0%{transform: rotate(0deg); border-width: 2px;}
	50%{transform: rotate(180deg); border-width: 20px;}
	100%{transform: rotate(360deg); border-width: 2px;}
}

@keyframes check-round {
  0%{ transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@keyframes bande {
from
 {margin-right: -60px}
 to 
 {margin-right: 0}
}

@media screen and (min-width: 700px){
  .restauration {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box-restaurant {
    width: 48%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1299px) {
	.footer__titre {
    	margin-left: 15%;
  	}
   .footer__lien {
    	margin-left: 12%;
  	}
}

@media screen and (min-width: 1300px) {
	.footer__titre {
    	margin-left: 25%;
  	}
   .footer__lien {
    	margin-left: 22%;
  	}
}

@media screen and (min-width: 750px){
  .restaurant-menu {
    max-width: 750px;
    margin: auto;
  }

  .titre {
    margin: 0;
    padding: 0;
  }
 
  .sub-title {
    text-align: center;
  }

  .choice {
    width: 100%;
  }

  .menu-list {
    max-width: 750px;
    margin: auto;
  }
}